<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
    <style>
        /* Center the text within h1, h2, and h3 elements */
        h1, h2, h3 {
            text-align: center;
        }

        /* Center the image */
        img {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <h1>Get ready to meet the "it" girlies of sexbomb</h1>
    <h2>Sumasayaw sumunod sa sexbomb! sexbomb!</h2>

    <img src="https://64.media.tumblr.com/251c2e3f03abd0cc0fc7479b151a173a/aec6752391c733b6-60/s250x400/806c82c73ebdfe96c24566c9d36650f2d0760f7c.gifv"
    width="700" height="500">

    <img src=https://cdn.discordapp.com/attachments/1113092670064164998/1134852889949515826/IMG_3945.jpg?ex=6546531d&is=6533de1d&hm=253fdf7418c2e0cdd0a8f5fc6ac5ccde5d4e93642c1a64060072cd9842a80482&
    width="700" height="500">
    <h3>Due to our lead member's condition their picture wasn't included </h3>

    <h2>Member's Info!</h2>
    <img src=https://cdn.discordapp.com/attachments/1103681443323985920/1134853802403577867/IMG_3996.jpg?ex=654653f7&is=6533def7&hm=c6e24d49249106ae5902cc018d765be0f549306ebc3143600629e1147b49563d&
    width="700" height="500">
    <h3>Name: Ma. Alijah Casandra P. Eugenio</h3>
    <h3>School: PUP College of Engineering and Architecture</h3>
    <h3>Section: BSCPE 2-6</h3>
    <h3>Birthday: October, 6, 2004</h3>
    <h3>Age: 19 Yrs. Old</h3>
    <h3>Status: College Student</h3>
</body>
</html>
